/* -------------- SIDE NAVIGATION --------------
.dot-nav {
  right: 20px;
  position: fixed;
  top: 50%;
  z-index: 123123;
  display: block;
  opacity: 1;
}
.dot-nav ul {
  list-style: none;
}
.dot-nav li {
  display: block;
  width: 14px;
  height: 13px;
  margin: 7px;
  position: relative;
  list-style-type: none;
} */
